$max-int: 2147483647;
$comment-color: rgb(255, 255, 255);
$comment-shadow-color: rgb(0, 0, 0);

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}

.comment-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $max-int;
  pointer-events: none;
}

.comment {
  $size: 8vh;
  $font-size: $size * 0.8;
  $shadow-size: $font-size * 0.1;
  $shadow: 0 0 $shadow-size $comment-shadow-color;

  position: absolute;
  top: calc(#{$size} * (var(--line) + var(--layer) / 5));
  padding: $size * 0.1 0;
  font: #{$font-size} / 1 sans-serif;
  color: $comment-color;
  text-shadow: $shadow, $shadow, $shadow, $shadow;
  white-space: pre;
  transition: 5s linear;
  transform: translateX(-100%);
}

.comment-enter {
  margin-left: 100%;
  transform: translateX(0%);
}

.emoji {
  height: 1em;
  vertical-align: middle;
}
