version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:15

commands:
  package:
    steps:
      - checkout
      - restore_cache:
          keys:
            - &cache_key cache-npm-{{ .Branch }}

      - run:
          name: Install Dependencies
          command: npm ci

      - save_cache:
          key: *cache_key
          paths:
            - ~/.npm

      - run:
          name: Setup build
          command: |
            sudo apt update
            sudo apt install -y wine convmv

      - run:
          name: Run Test
          command: npm run package

  release:
    steps:
      - run:
          name: Release
          command: npx semantic-release

jobs:
  default:
    executor: node
    steps:
      - package

  master:
    executor: node
    steps:
      - package
      - release

workflows:
  main:
    jobs:
      - default:
          filters:
            branches:
              ignore:
                - master

      - master:
          filters:
            branches:
              only:
                - master
